---
layout: page
title: Categories - For the Love of Guitars
permalink: /categories/
sitemap:
    priority: 0.7
    lastmod: 2019-02-02
    changefreq: weekly
---
<h2>Categories</h2>

<span class="image left"><img src="https://images.unsplash.com/photo-1519640350407-953bc0614f4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"></span>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>  
      
    <h4 class="category-head">{{ category_name }}</h4>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>


