<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/music/' %} active {% endif %}"><a href="{{ "/music/" | absolute_url }}">Music</a></li>
  <li class="{% if page.url contains '/videos/' %} active {% endif %}"><a href="{{ "/videos/" | absolute_url }}">Videos</a></li>
  <li class="{% if page.url contains '/shop/' %} active {% endif %}"><a href="{{ "/shop/" | absolute_url }}">Shop</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
</ul>
