<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/categories/' %} active {% endif %}"><a href="{{ "/categories/" | absolute_url }}">Categories</a></li>
  <li class="{% if page.url contains '/videos/' %} active {% endif %}"><a href="{{ "/videos/" | absolute_url }}">Videos</a></li>
  <li class="{% if page.url contains '/shop/' %} active {% endif %}"><a href="{{ "/shop/" | absolute_url }}">Shop</a></li>
  <li class="{% if page.url contains '/shop/' %} active {% endif %}"><a href="{{ "/gallery/" | absolute_url }}">Gallery</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
</ul>
